.carousel-inner, .carousel-item {
    height: 100vh;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    right: auto;
    bottom: auto;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.carousel-caption h4 {
    padding-bottom: 36px;
    text-transform: uppercase;
    font-size: 16px;
}

.carousel-caption h3 {
    font-size: 72px;
    padding-bottom: 24px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.contact {
    background: #eff2f5;
}

.icon-link {
    font-size: 0;
    padding-right: 10px;
    color: #000;
}

.icon-link i {
    font-size: 16px;
}

.footer {
    background: #D4D4D4;
}