.carousel-inner,
.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  bottom: auto;
  left: 50%;
  padding-top: 0;
  padding-bottom: 0;
  right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-caption h4 {
  font-size: 16px;
  padding-bottom: 36px;
  text-transform: uppercase;
}

.carousel-caption h3 {
  font-size: 72px;
  padding-bottom: 24px;
}

.card img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.contact {
  background: #eff2f5;
}

.icon-link {
  color: #000;
  font-size: 0;
  padding-right: 10px;
}

.icon-link i {
  font-size: 16px;
}

.footer {
  background: #d4d4d4;
}
